@import 'bootstrap-sass/lib/bootstrap';
@import 'modelnavigator';
@import 'metadataviewer';

/* Project navigator */

header input.form-control {
	float: left;
	width: 30px;
	margin-top: 10px;
}

#ovation-user {
	float: right;
	margin-top: 16px;
	margin-right: 10px;
}

#project-navigator {
	float: left;
	width: 20%;
	margin-right: 1%;
}

#project-navigator .panel-group {
	margin-top: 4px;
}

#create-project {
	margin: auto;
	display: block;
}

#create-experiment {
	margin: auto;
	display: block;
}

#experiment-navigator {
	float: left;
	width: 20%;
	margin-right: 1%;
}

#experiment-navigator .list-group {
	margin-top: 4px;
}

#entity-viewer {
	float: left;
	padding-right: 12px;
	
}

#entity-view,
#metadata-viewer {
	float: left;
	margin-left: 1%;
	width: 70%;
	height: 97%;
	text-align: center;
	overflow: scroll;
}

#entity-view {
	background-color: #eee;
}

#metadata-viewer {
	width: 28%;
	text-align: left;
}

#entity-view .lead,
#metadata-viewer .lead {
}

#entity-view-data {
	white-space: pre;
	text-align: left;
}