#model-navigator-region {
	float: left;
	width: 200px;
}

.model-navigator {
	height: 100%;
	width: 100%;
}

.model-navigator-active-view-region {
	height: 94%;
	width: 100%;
}

.model-navigator-panels {
	height: 100%;
	overflow-x: scroll;
	width: 100%;
}

.model-navigator-panels-container {
	height: 100%;
}

.model-navigator-panel {
	border-right: 1px solid #d9d9d9;
	float: left;
	height: 100%;
	padding: 6px;
	width: 150px;
}

.model-navigator-panel ul {
	padding: 0;
}

.model-navigator-panel li {
	list-style: none;
}

.model-navigator-entity-links {
	display: none;
	margin-left: 10px;
}