#model-navigator-region {
	float: left;
	width: 200px;
}

.model-navigator {
	height: 100%;
	width: 100%;
}

.model-navigator .lead {
	margin-left: 12px;
}

.model-navigator-active-view-region {
	height: 100%;
	width: 100%;
}

.model-navigator-panels {
	height: 100%;
	overflow-x: scroll;
	width: 100%;
}

.model-navigator-panels-container {
	height: 100%;
}

.model-navigator-panel {
	border-right: 1px solid #eee;
	float: left;
	height: 100%;
	padding: 6px;
	width: 150px;
	overflow-y: scroll;
}

.model-navigator-panel ul {
	padding: 0;
}

.model-navigator-panel li {
	line-height: 24px;
	list-style: none outside none;
	cursor: pointer;
	color: #000;
}

.model-navigator-panel .entity-name-container {
	padding: 2px 6px;
}

.model-navigator-panel li:hover > .entity-name-container {
	background-color: #eeeeee;
}

.model-navigator-panel li.active > .entity-name-container {
	background-color: #eee;
}

.model-navigator-panel li.active > .entity-name-container > .glyphicon-chevron-right,
.model-navigator-panel li.active > .entity-name-container > .glyphicon-chevron-down {
	color: #000;
}

.model-navigator-panel li:hover > .entity-name-container > .glyphicon-chevron-right,
.model-navigator-panel li:hover > .entity-name-container > .glyphicon-chevron-down {
	color: #000;
}

.entity-name-container .entity-name {
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.model-navigator-panel .glyphicon-chevron-right,
.model-navigator-panel .glyphicon-chevron-down {
	display: block;
	float: right;
	font-size: 8px;
	height: 100%;
	line-height: 22px;
	color: #eee;
}

.model-navigator-entity-links {
	display: none;
	font-size: 12px;
	line-height: 20px;
	list-style: none outside none;
	margin-left: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.model-navigator-entity-links li {
	font-size: 12px;
	line-height: 20px;
}

.model-navigator-entity-links .glyphicon-chevron-right {
	line-height: 18px;
}

.entity-attributes {
	font-size: 11px;
	line-height: 11px;
	margin-left: 6px;
	margin-bottom: 4px;
	overflow: hidden;
}

.plupload-browse-button,
.plupload-drop-element {
	display: none;
}

.file-drop-highlight {
	background-color: #F8F8F8;
}