.panel-view-history-region {
	display: none;
}

.panel-view-controls .btn-default {
	padding: 6px 8px;
}

.panel-view-controls .btn[disabled] {
	opacity: 0.5;
}

.btn-group-wrap {
	text-align: center;
	margin-bottom: 10px;
}

.panel-view .list-group-item {
	border-radius: 0px;
	padding: 10px 12px 8px 12px;
	border-left: none;
	border-right: none;
}

.panel-view h5 {
	display: inline-block;
	margin-bottom: 0;
}

.panel-icon {
	margin-right: 10px;
}

.panel-next {
	float: right;
	margin-top: 1px;
}

.panel-entity {
	cursor: pointer;
}

.panel-entity .list-group-item-text {
	margin-left: 25px;
	font-size: 12px;
}

.no-project-view {
	padding: 10px;
	text-align: center;
}

.no-project-view button {
	margin-top: 10px;
}