<div class="list-group">
	<a class="list-group-item panel-entity projects">
		<span class="panel-next fa fa-angle-right"></span>
		<h5 class="list-group-item-heading"><span class="panel-icon fa fa-folder-open"></span>Projects</h5>
	</a>
	<a class="list-group-item panel-entity sources">
		<span class="panel-next fa fa-angle-right"></span>
		<h5 class="list-group-item-heading"><span class="panel-icon fa fa-sitemap"></span>Sources</h5>
	</a>
	<a class="list-group-item panel-entity protocols">
		<span class="panel-next fa fa-angle-right"></span>
		<h5 class="list-group-item-heading"><span class="panel-icon fa fa-book"></span>Protocols</h5>
	</a>
</div>