<ul>
	<li class="default-panel-projects"><div class="entity-name-container">Projects<span class="glyphicon glyphicon-chevron-right"></span></div></li>
	<li class="default-panel-sources"><div class="entity-name-container">Sources<span class="glyphicon glyphicon-chevron-right"></span></div></li>
	<li class="default-panel-protocols"><div class="entity-name-container">Protocols<span class="glyphicon glyphicon-chevron-right"></span></div></li>
</ul>
