<ul>
	<li data-href="/api/v1/projects"><div class="entity-name-container">Projects<span class="glyphicon glyphicon-chevron-right"></span></div></li>
	<li data-href="/api/v1/sources"><div class="entity-name-container">Sources<span class="glyphicon glyphicon-chevron-right"></span></div></li>
	<li data-href="/api/v1/protocols"><div class="entity-name-container">Protocols<span class="glyphicon glyphicon-chevron-right"></span></div></li>
</ul>
