<span class="lead">Notes</span>
<div class="notes-container">

		{{#each notes}}
			{{#each this }}
				<div class="notes-user">{{@key}}</div>
				<div class="bubble">
				<div class="pointer"></div>
				<div class="pointerBorder"></div>
				<div class="bubble-body">
					{{ this }}
				</div>
				</div>
			{{/each}}
		{{/each}}

</div>