<span class="lead">Properties</span>
<div>
{{#each properties}}
  <span class="metadata-user">{{@key}}</span>
  <ul class="property-list">
  {{# each this}}
  	<li class="user-property"><strong>{{ @key }}</strong>: {{ this }}</li>
  {{/each}}
  </ul>
{{/each}}
</div>