<div class="panel-view-controls">
	<div class="btn-group-wrap">
		<div class="btn-group">
		  <button type="button" class="btn btn-default" disabled="disabled"><span class="fa fa-fw fa-angle-left"></span></button>
		  <button type="button" class="btn btn-default" disabled="disabled"><span class="fa fa-fw fa-angle-right"></span></button>
		  <button type="button" class="btn btn-default home"><span class="fa fa-fw fa-home"></span></button>
		  <button type="button" class="btn btn-default history"><span class="fa fa-fw fa-history"></span></button>
		  <button type="button" class="btn btn-default add"><span class="fa fa-fw fa-plus"></span></button>
		</div>
	</div>
	<div id="panel-view-add-modal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content panel-view-modal-region"></div>
		</div>
	</div>
</div>

<div class="panel-view-history-region"></div>
<div class="panel-view-main-region"></div>
