<span class="panel-next fa fa-angle-right"></span>
<h5 class="list-group-item-heading"><span class="panel-icon fa fa-folder-open"></span>{{ ui_hints.display_name }}</h5>
{{#ifProject type }}
<p class="list-group-item-text">{{ attributes.purpose }}</p>
{{/ifProject}}