<section id="model-navigator-region"></section>

<section id="entity-viewer">
	<section id="entity-view">
		<span class="lead">Entity data viewer</span>
		<div id="entity-view-data"></div>
	</section>
	<section id="entity-metadata-viewer">
		<span class="lead">Entity metadata viewer</span>
	</section>
</section>