<div class="navigator-controls">
	<div class="btn-group">
  	<button type="button" class="show-project-view btn btn-default btn-sm active">Project</button>
  	<button type="button" class="show-source-view btn btn-default btn-sm">Source</button>
  	<button type="button" class="show-protocol-view btn btn-default btn-sm">Protocol</button>
  </div>
</div>

</div>
<div class="navigator-view"></div>