<div id="ovation-content">
	<header class="navbar navbar-default" role="banner">
		<a class="navbar-brand">
			<img src="images/ovation_logo.png" />
			Ovation
		</a>
		<input class="form-control" type="text" placeholder="Search Ovation" />
		<div id="ovation-user">
			<span class="glyphicon glyphicon-user"></span> Username
		</div>
	</header>

	<section id="model-navigator-region"></section>

	<section id="entity-viewer">
		<section id="entity-view" class="jumbotron">
			Entity data viewer
		</section>
		<section id="entity-metadata-viewer" class="jumbotron">
			Entity metadata viewer
		</section>
	</section>
</div>