<div id="ovation-content">
	<header class="navbar navbar-default" role="banner">
		<a class="navbar-brand">
			<img src="images/ovation_logo.png" />
			Ovation
		</a>
		<div id="ovation-user">
			<span class="glyphicon glyphicon-user"></span> Username
		</div>
	</header>

	<section id="main-content"></section>

</div>