<div class="entity-name-container">
	<button class="plupload-browse-button"></button>
	<div class="plupload-drop-element"></div>
	<span class="glyphicon glyphicon-chevron-down"></span>
	<span class="entity-name">{{ display_name }}</span>
	<div class="entity-attributes-container"></div>
</div>