<div class="login-form-wrapper">
	<h3>Login to Ovation</h3>
	<form class="login-form">
		<div class="form-group">
			<input class="form-control" type="email" placeholder="Email address" name="login-form-email" required></input>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" placeholder="Password" name="login-form-password" required></input>
		</div>
		<div>
			<input class="btn btn-primary btn-default" role="button" type="submit" value="Login" />
		</div>
		<div class="alert alert-danger">Invalid email or password.</div>
	</form>
</div>
