<ul>
	<li><a class="panel-link" href="/api/v1/projects">Projects</a></li>
	<li><a class="panel-link" href="/api/v1/sources">Sources</a></li>
	<li><a class="panel-link" href="/api/v1/protocols">Protocols</a></li>
</ul>
