<div class="jumbotron">
  <h2>Welcome to Ovation!</h2>
  <p>To get started you'll need to set up your first project. Please fill in the following fields:</p>
  <form>
  	<div class="form-group">
  		<label for="welcome-guide-project-name">Project name</label>
  		<input class="form-control" type="text" placeholder="My First Project" value="My First Project" id="welcome-guide-project-name"></input>
  	</div>
  	<div class="form-group">
	  		<label for="welcome-guide-project-purpose">Purpose</label>
  			<input class="form-control" type="text" placeholder="Save the world" value="Save the world" id="welcome-guide-project-purpose"></input>
  	</div>
  	<div class="form-group">
  		<label for="welcome-guide-project-startdate">Start date</label>
  		<input class="form-control" type="text" id="welcome-guide-project-startdate"></input>
  	</div>
  </form>
  <p><a class="btn btn-primary btn-lg" role="button" id="welcome-guide-create-project">Create Project</a></p>
</div>
