<div class="jumbotron">
  <p>Great! We've saved your first project. There are a few more things we need to create to finish up. We've filled in some defaults, feel free to change things or hit finish to get started.</p>
  <form id="welcome-guide-entities-form">
  	<div class="form-group">
      <h4>Experiment</h4>
      <p class="small">Experiments will contain all the measurements collected or trials conducted as part of that specific Experiment.</p>
  		<h5>Experiment name</h5>
  		<input class="form-control" type="text" value="Default Experiment" id="welcome-guide-experiment-name"></input>
      <h5>Experiment purpose</h5>
      <input class="form-control" type="text" value="Save the world" id="welcome-guide-experiment-purpose"></input>
      <h5>Experiment start</h5>
      <input class="form-control" type="text" id="welcome-guide-experiment-start"></input>
  	</div>
  	<div class="form-group">
      <h4>Epoch Group</h4>
      <p class="small">Epoch groups are used to organize epochs.</p>
      <h5>Epoch group name</h5>
      <input class="form-control" type="text" value="Default epoch group" id="welcome-guide-epoch-group-name"></input>
      <h5>Epoch group start</h5>
      <input class="form-control" type="text" id="welcome-guide-epoch-group-start"></input>
      <h5>Epoch group end</h5>
      <input class="form-control" type="text" id="welcome-guide-epoch-group-end"></input>
  	</div>
  	<div class="form-group">
      <h4>Epoch</h4>
      <p class="small">Epochs are used to organize your measurements.</p>
      <h5>Epoch name</h5>
      <input class="form-control" type="text" value="Default epoch" id="welcome-guide-epoch-name"></input>
      <h5>Epoch start</h5>
      <input class="form-control" type="text" id="welcome-guide-epoch-start"></input>
      <h5>Epoch end</h5>
      <input class="form-control" type="text" id="welcome-guide-epoch-end"></input>
  	</div>
  </form>
  <p><a class="btn btn-primary btn-lg" role="button" id="welcome-guide-finish">Finish</a></p>
</div>
